* {
	margin: 0;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

html, body {
	margin: 0;
	background-color: white;
  	height: 100%;
}

.logo {
	margin-top: 35px;
	margin-left: 50px;
	width: 260px;
}

.banner {
	margin: 0;
	height: 100px;
	background: url(/images/cascade_mountains.jpg) repeat #f4f2ec;
}

#header {
	color: black;
}

form {
	background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin: 10px auto;
	position: relative;
	width: 80%;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
	width: 50%;
	display: block;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/*Code to center title*/
.centerTitle {
	text-align: center;
	color: white;
}

/*Code to make things centered and white/black*/
.box {
	color:white;
	width:medium;
	height:60px;
	background:black;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

br {
	display: block;
	margin: 15px 0;
}

.radioButton {
	display:inline-block;
}

/* Oh hell yeah */
@keyframes warningFun {
    0%   {transform:rotate(0deg);}
    50%  {transform:rotate(180deg) scale(20);}
    100% {transform:rotate(360deg) scale(1);}
}

.warning {
	display: block;
	color: #990000;
	font-size: 12px;
	font-weight: normal;
	animation-name: warningFun;
	animation-duration: 5s;
	transform-origin: 20% 20%;
}
